body{

  font-family:Arial;
  background:#f3f4f6;

  display:flex;
  justify-content:center;
  align-items:center;

  height:100vh;
}

.card{

  width:320px;

  background:white;

  padding:30px;

  border-radius:14px;

  box-shadow:
    0 4px 20px rgba(0,0,0,0.1);
}

input{

  width:100%;

  padding:12px;

  margin-top:10px;

  box-sizing:border-box;
}

button{

  width:100%;

  padding:12px;

  margin-top:10px;

  cursor:pointer;
}

#msg{

  margin-top:15px;
  color:red;
}